#div0{
    height:400px;
    background-color: antiquewhite;
    width:100px;

}

#div1{
    height:100px;
    width:100px;                
    background-color:green;
    border-radius:50%;      
}
#div2{
    height:100px;
    width:100px;                
    background-color:yellow;
    border-radius:50%;      
}
#div3{
    height:100px;
    width:100px;                
    background-color:red;
    border-radius:50%;      
}