*
{
    font-family:'Times New Roman';
}
h1 {
    text-align: center;
    text-transform: capitalize;
    border-width:3px;
    background-color:aquamarine;
    border-style:dotted;
    text-align:center;
    border-radius:10px;
}
#outer
{
    font-size :25px;
    height: 100px;
    background-color:aquamarine;
    width:400px;
    border-style: dotted;
    border-width:3px;
    border-color:brown;
}
#inner
{
    font-size:10px;
}